---
layout: default
title: Blog de Fer Perales
pagination:
  enabled: true
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <p class="author">
    <span class="date">{{ post.date |  date: '%B %d, %Y'  }}</span>
  </p>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="content">
    {{ post.excerpt or post.content | strip_html | truncatewords: 55 }}
    <a href="{{ post.url }}"> leer más</a>
  </div>
  <hr />

  &nbsp;
{% endfor %}

<!-- Pagination links -->

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class='prev-link' href="{{ paginator.next_page_path | relative_url }}/">&laquo; Posts anteriores</a>
    {% endif %}

    {% if paginator.previous_page %}
      <a class='next-link' href="{{ paginator.previous_page_path | relative_url }}/">Posts recientes &raquo;</a>
    {% endif %}

  </div>
{% endif %}

<hr class='footer-separator'/>
