<footer>
  <div class='social-footer'>
    <ul class='undecorated-list social-list'>
      <li >
        <a href="https://www.facebook.com/ferperalesm/" class="genericon genericon-facebook" target="_blank">
          <span class="screen-reader-text">View ferperalesm’s profile on Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/ferperalesm/" class="genericon genericon-twitter" target="_blank">
          <span class="screen-reader-text">View ferperalesm’s profile on Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/ferperales/" class="genericon genericon-instagram" target="_blank">
          <span class="screen-reader-text">View ferperales’s profile on Instagram</span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ferperales/" class="genericon genericon-linkedin" target="_blank">
          <span class="screen-reader-text">View ferperales’s profile on LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/ferperales/" class="genericon genericon-github" target="_blank">
          <span class="screen-reader-text">View ferperales’s profile on GitHub</span>
        </a>
      </li>
    </ul>
  </div>
  <div class='personal-links site-footer'>
    <div>
      <a class=' undecorated-link padded-link' target='_blank' href='http://ferperales.net'>Página personal</a>
      <a class=' undecorated-link padded-link' target='_blank' href='http://ferperales.net/contact'>Contáctame</a>
    </div>
    <div class='credits undecorated-link'>
      Theme based on Wordpress theme Fastr by Kanish
    </div>
    {% comment %} <div class='release-info undecorated-link'> {% endcomment %}
      {% comment %} Latest release: <%= `git log -1 --format="<a target='_blank' href=\"https://github.com/FerPerales/source.ferperales.github.io/commit/%h\" />%h</a> - %B on %aD"` %> {% endcomment %}
    {% comment %} </div> {% endcomment %}
  </div>

</footer>
