---
layout: default
title: Blog de Fer Perales
paginate:
  collection: posts
  per_page: 5
  permalink: "/page/:num/"
---

{% for post in paginator.resources %}
  <p class="author">
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
  </p>
  <h2><a href="{{ post.relative_url }}">{{ post.data.title }}</a></h2>
  <div class="content">
    {% if post.excerpt %}
      {{ post.excerpt | strip_html | truncatewords: 55 }}
    {% else %}
      {{ post.content | strip_html | truncatewords: 55 }}
    {% endif %}
    <a href="{{ post.relative_url }}"> leer más</a>
  </div>
  <hr />

  &nbsp;
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class='prev-link' href="{{ paginator.next_page_path | relative_url }}">&laquo; Posts anteriores</a>
    {% endif %}

    {% if paginator.previous_page %}
      <a class='next-link' href="{{ paginator.previous_page_path | relative_url }}">Posts recientes &raquo;</a>
    {% endif %}
  </div>
{% endif %}

<hr class='footer-separator'/>
